<div class="container mt-5">
  <div class="row">
    <div class="col-8 offset-2">
      <app-passenger-dashboard></app-passenger-dashboard>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-6">
      <app-todo-form></app-todo-form>
    </div>
    <div class="col-6">
      <app-todo-list></app-todo-list>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <app-std-form></app-std-form>
    </div>
    <div class="col-8">
      <app-std-table></app-std-table>
    </div>
  </div>
</div>